<head>
    <title>Restaurant Appllication</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<form action="/login" method="POST">
    <p>{{session["message"]}}</p>
    <br>
    Username:
    <br>
    <input type="text" name="username">
    <br>
    Password:     
    <br>
    <input type="text" name="password">
    <br>
    <input type="submit" value="Log In" class="button">
</form>
<a href="/new"> <input type="button" class="button" value = "Register"></a>