<head>
    <title>Restaurant Appllication</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<div class="header">
<form action="/logout" method="POST" id="navbar">
    <input type="submit" value="Log Out" class="button">
</form>
<form action="/favourites" method="POST" id="navbar">
    <input type="submit" value="Favourites" class="button">
</form>
</div>

<h1>RESTAURANT APPLICATION</h1>
<br>
<p>{{session["message"]}}</p>
<br>
<form action="/search" method="POST">
    <input type="text" name="search" placeholder="Indian">
    <input type="submit" value="Search" class="button">
</form>
Number of restaurants: {{count}}

<br>
<br>
{% for rest in rests %}

<form action="/restaurant/{{rest.id}}",method="POST">
    <label for="name">{{rest.name}}</label>
    <input type="submit" value="..." class="button">
</form>

{% if session.username == "admin" %}
<form action="/delete" method="POST">
    <input type="hidden" name="restaurant_id" value="{{rest.id}}">
    <input type="submit" value="DELETE" class="button">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
{% endif %}
{% endfor %}

{% if session.username == "admin" %}
<br>
<br>
ADD RESTAURANT
<br>
<form action="/add" method="POST">
    Name:
    <input type="text" name="name" placeholder="Example Sushi">
    <br>
    Groups:
    <input type="text" name="groups" placeholder="Asian,Sushi,Japanese">
    <br>
    Description:
    <input type="text" name="desc">
    <br>
    <input type="submit" value="Add" class="button">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
