<form action="/logout" method="POST">
    <input type="submit" value="Log Out">
</form>
<form action="/favourites" method="POST">
    <input type="submit" value="Favourites">
</form>
<h1>RESTAURANT APPLICATION</h1>
<br>
{{session["message"]}}
<br>
<form action="/search" method="POST">
    <input type="text" name="search" placeholder="Indian">
    <input type="submit" value="Search">
</form>
Number of restaurants: {{count}}

<br>
<br>
{% for rest in rests %}

<form action="/restaurant/{{rest.id}}",method="POST">
    <label for="name">{{rest.name}}</label>
    <input type="submit" value="...">
</form>

{% if session.username == "admin" %}
<form action="/delete" method="POST">
    <input type="hidden" name="restaurant_id" value="{{rest.id}}">
    <input type="submit" value="DELETE">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
{% endif %}
{% endfor %}

{% if session.username == "admin" %}
ADD RESTAURANT
<form action="/add" method="POST">
    Name:
    <input type="text" name="name" placeholder="Example Sushi">
    <br>
    Groups:
    <input type="text" name="groups" placeholder="Asian,Sushi,Japanese">
    <br>
    Description:
    <input type="text" name="desc">
    <br>
    <input type="submit" value="Add">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
