<head>
    <title>Restaurant Appllication</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<form action="/create" method="POST">
    <p>{{session["message"]}}</p>
    <br>
    Choose a Username:
    <br>
    <input type="text" name="username">
    <br>
    Choose a Password:     
    <br>
    <input type="text" name="password">
    <br>
    <input type="submit" value="Register" class="button">
</form>
<a href="/"> <input type="button" class="button" value = "Log In"></a>